:root {
  --color-light: white;
  --color-dark: #6d6e71;
  --color-accent: #ed1c24;
}

body {
  text-align: center;
  color: var(--color-dark);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav span {
  cursor: pointer;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--color-accent);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

nav a:hover {
  background-color: #EEEEEE;
  transition: 0.1s;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
}

address {
  display: block;
  text-align: left;
  font-style: italic;
}

article {
  padding: 60px 10%;
}

article h1 {
  margin-top: 0;
}

article img {
  width: 50%;
}

footer {
  color: white;
  background-color: black;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  min-width: 70px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  color: var(--color-accent);
}

.openbtn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 8px 0 0 30px;
  color: var(--color-accent);
}

.icon {
  font-size: 52px;
  text-decoration: none;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 49%;
  max-width: 49%;
  margin: 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.box p {
  padding: 10px;
}

.box:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.box:last-child:nth-child(odd) {
  max-width: 100%;
  flex: 100%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.two-column {
  width: 48%;
}

.smalltext {
  font-size: 14px;
  color: #999;
	text-align: justify;
}

@media screen and (max-width: 1050px) {
  header img {
    width: 30%;
  }

  .box {
    max-width: 100%;
    flex: 100%
  }
}
