:root {
  --color-light: white;
  --color-text: #808080;
  --color-dark: #a6a6a6;
  --color-accent: #ed1c24;
  --color-accent-dark: #cd1c24;
  --color-accent-bg: #ea888b;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.gray {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.light {
  background-color: var(--color-light);
  color: var(--color-text);
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  background: url(images/background-small.jpg) center center no-repeat;
}

article {
  padding: 1rem 0 !important;
}

footer {
  color: white;
  background-color: black;
}

.card {
  border-radius: 0;
}

.card-columns { column-count: 1; }

@media only screen and (min-width : 992px) {
  .card-columns { column-count: 2; }
}

.review-img {
  max-height: 100%;
  max-width: 50%;
}

.btn {
  border-radius: 0;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn:active {
  background-color: var(--color-accent-dark) !important;
  border-color: var(--color-accent-dark) !important;
}

.form-control {
  border-radius: 0;
}

.form-row > .col, .form-row > [class*="col-"] {
  padding: 0;
}

.social-icon {
  width: 3rem;
}

/* NAVBAR */

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-accent);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

nav a:hover {
  background-color: #EEEEEE;
  transition: 0.1s;
}

.closebtn {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: -0.5rem;
  right: 25px;
  padding: 0;
  margin-left: 50px;
  color: var(--color-accent);
}

.openbtn {
  z-index: 999;
  font-size: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  margin: 8px 0 0 30px;
  color: var(--color-accent);
}

.openbtn:hover {
  text-decoration: none;
  color: var(--color-accent);
}

@media only screen and (min-width : 992px) {
  .openbtn { font-size: 5rem; }
  .closebtn {
    font-size: 5rem; 
    top: -1.8rem;
  }
}
